body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 40px;
}

.botones {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #ddd;
    font-size: 18px;
    text-decoration: none;
    color: black;
    border-radius: 4px;
}
